.body {
		background-color: #071013;
		font-family: 'Muli', sans-serif;
}

.title {
		text-align: center;
		color: #FFFFFF;
}

.circle {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid;
		position: relative;
		margin: auto;
}

.red {
		border-color: #F21B3F;
}

.red:active {
		background-color: #F21B3F;
}

.blue {
		border-color: #08BDBD;
}

.blue:active {
		background-color: #08BDBD;
}

.green {
		border-color: #29BF12;
}

.green:active {
		background-color: #29BF12;
}

.yellow {
		border-color: #FF9914;
}

.yellow:active {
		background-color: #FF9914;
}

.pad {
		padding: 40px;
}
