.body {
		background-color: #071013;
		font-family: 'Muli', sans-serif;
		color: #FFFFFF;
}

.title {
		text-align: center;
		color: #FFFFFF;
		padding: 20px;
}

.circle {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid;
		position: relative;
		margin: auto;
}

.red {
		border-color: #F21B3F;
}

.red:active {
		background-color: #F21B3F;
		cursor: pointer;
}

.blue {
		border-color: #08BDBD;
}

.blue:active {
		background-color: #08BDBD;
		cursor: pointer;
}

.green {
		border-color: #29BF12;
}

.green:active {
		background-color: #29BF12;
		cursor: pointer;
}

.yellow {
		border-color: #FF9914;
}

.yellow:active {
		background-color: #FF9914;
		cursor: pointer;
}

.pad {
		padding: 35px;
}

.reset-text {
		color: #F21B3F;
}

.reset-text:hover {
		cursor: pointer;
}

#start {
		cursor: pointer;
}

.hover-yellow {
		background-color: #FF9914;
}

.hover-red {
		background-color: #F21B3F;
}

.hover-green {
		background-color: #29BF12;
}

.hover-blue {
		background-color: #08BDBD;
}
